body {
  opacity: 0;
  transition: opacity 0.3s  ease-in-out;
}

table {
  MARGIN: 0;
}

.btn {
  text-transform: lowercase;
}

#myTable {
margin-bottom: 40px;
}

tr {
border-spacing: 0;
border-collapse: separate;
}

.modal {
  max-width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  margin: 0 0 0.5rem 0;
}

.modal::backdrop {
  background: rgb(0 0 0 / .4);
}

.error {
  color: red;
  display: none;
}