body {
  opacity: 0;
  transition: opacity 0.3s  ease-in-out;
}

.container-main {
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

table {
  MARGIN: 0;
}

.btn {
  text-transform: lowercase;
}

#myTable {
margin-bottom: 40px;
}

tr {
border-spacing: 0;
border-collapse: separate;
}

/* form style */
.container-form {
  position: absolute;
  top: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}